doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  body
    .navbar.navbar-default.navbar-fixed-top
     .container
      .nav-bar-header
        a.navbar-brand(href='/') Loc8r
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-nav')
          span.icon-bar
          span.icon-bar
          span.icon-bar

    block content

    script(src='/javascripts/jquery-1.11.2.js')
    script(src='/bootstrap/js/bootstrap.min.js')
